@charset "utf-8";
/* CSS Document */

/* -------------初始化样式------------- */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 微软雅黑;
    font-family: Arial;
}
.head,.nav,.container,.footer{
    float: left;
    width: 100%;
}
body{
    background: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;/*背景图片不随着页面滚动*/
}
/* -------------main------------- */
/* -------------head------------- */
#header{
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 200px 0 0;
    /* background-color: aqua;    */
}
#search_box{
    margin: auto;
    position: relative;
    width: 800px;
    height: 60px;
    /* overflow: hidden; */
    /* background-color: blueviolet; */
}
#sb_1{
    float: left;
    width: 75%;
    height: 60px;
    overflow: hidden;
    /* background-color: aquamarine; */
}
#sb_2{
    float: left;
    width: 10%;
    height: 60px;
    overflow: hidden;
    /* background-color: rgb(255, 56, 56); */
}
#sb_3{
    float: left;
    width: 15%;
    height: 60px;
    overflow: hidden;
    /* background-color: rgb(25, 201, 57); */
}
#sb_1 input{
    float: left;
    height: 32px;
    width: 92%;
    font-size: 24px;
    margin: 0;
    outline: none;
    border: 2px solid #c4c7ce;
    border-right: 0;
    padding: 12px 0 12px 8%;
    background-color: #fff;
    border-radius:15px 0 0 15px;
}
#sb_2 button{
    display: block;
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    border-top: 2px solid #c4c7ce;
    border-bottom: 2px solid #c4c7ce;
    background-color: #fff;
    color: gray;
}
#sb_2 button:hover{
    color: rgb(0, 0, 0);
}
#sb_3 input{
    /* display: block; */
    float: left;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 24px;
    font-weight: 400;
    background-color: #4e6ef2;
    color: aliceblue;
    border-radius:0 15px 15px 0;
}
#sb_3 input:hover{
    background-color: #4662d9;
    color: aliceblue;
}
#sb_3 input:active{
    background-color: #354db8;
    color: aliceblue;
}
#sb_3 div{
    display: none;
}
/* -------------导航栏nav------------- */
#nav{
    /* 导航栏盒子 */
    height: 60px;
    width: 100%;
    background:rgba(255,255,255, 0.7);
    position: fixed;
    top: 0;
}

#nav li{
    float: left;
    height: 60px;   
    line-height: 60px;
    text-align: center;
    width: 10%;
}
#nav_0{   
    float: left;
    height: 60px;
	width: 180px;
}
#nav_0 a{
    color:#eee;
    background-color: #4e6ef2;
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: x-large;
    font-family: 'Times New Roman';
}
#nav_0 a:hover{
    background-color: #4662d9;
    color: aliceblue;
}
#nav ul a{
    color: black;
    display: block;
    font-family: 微软雅黑;
    font-size: x-large;
}

#nav ul a:hover{
    background:  rgba(0,0,0,0.2);
    color: #FFF;
    font-weight: 600;
}
/* -------------container------------- */
/* 整体范围 */
.list_box{
    width: 80%;
    margin:auto;
    padding: 0 80px;
}
/* 单个大标题框 */
.list_n{
    padding: 100px 0 0;
    overflow: hidden;
}
/* 单个大标题框标题 */
.list_title{
    float: left;
    width: 100%;
    height: 44px;
    font-size: 36px;
	line-height: 44px;
	color: #ffffff;
    margin: 0 0 10px 0;
}
/* 单个大标题框小标题总框 */
.list_con{
    width: 100%;
}
/* 单个大标题框小标题单框 */
.list_con li{
    float: left;
    margin: 0;
    width: 23%;
    height: 60px;
    padding: 0 2% 20px 0;
}
.list_con li a{
    display: block;
    height: 100%;    
    background: rgba(10,10,10,0.6);
    padding: 0 10px;
    overflow: hidden;
    color: #FFF;
    line-height: 60px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    transition: all 0.2s;
}
.list_con li a:hover{
    background: rgba(255,255,255,0.7);
    color: #000;
    transform: translateY(-6px);
}
/* -------------footer------------- */
.footer{

    padding: 60px 0 30px 0;
    text-align: center;
}



